<div style=' width:100vw'>
    <div>
        {{#each images.resources}}
        <div style='width: auto; display:flex'>
            <div >
                <img src={{url}}
                    style=" object-fit: none; 
                            object-position: center; 
                            width:  auto; 
                            height: auto; 
                            {{!-- max-height: 300px;  --}}
                            {{!-- max-width:  300px;  --}}
                            {{!-- margin-bottom: 1rem;" --}}
                            "
                    alt="home" />
                {{!-- <div >
                    <p class="card-text">
                        <b style='font-weight: 600'>
                            Created On:
                        </b>
                        <em style='font-weight: 100'>
                            {{created_at}}
                        </em>
                    </p>
                </div> --}}
            </div>
        </div>
        {{else}}
        <p>No images listed</p>
        {{/each}}
    </div>
</div>